.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 15px;
}

.title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.prefecture_group {
  display: flex;
  justify-content: space-araund;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Mobile */
@media (max-width: 700px) {
  .title {
    font-size: 20px;
  }
  .prefecture_group {
    padding: 5px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
